@{
    ViewBag.Title = "Delete User";
}



        <div class="menu_nav">
        <ul>
          <li ><a href="~/Admin/Index">Complains</a></li>
          <li class="active" ><a href="~/Admin/deleteUser">Delete User</a></li>
          <li  ><a href="~/Admin/logout">Logout</a></li>
          


        </ul>
        <div class="clr"></div>
      </div>



<br />
<br />
<br />
<br /><hr />
<br />
<br />
<br />
<br />


<h1>User Deleted!!</h1>
<br />
<h2><b style="color:red">@ViewBag.un</b> is now Completely Deleted.....</h2>