@{
    ViewBag.Title = "Friend is Added";
}

 <div class="menu_nav">
        <ul>
          <li  ><a href="~/Home/Home">Home</a></li>
          <li  ><a href="~/TimeLine/Index">Time Line</a></li>
          <li  ><a href="~/Friends/Index">Friends</a></li>
          
          <li><a href="~/ContactUs/Index">Contact Us</a></li>
            <li><a href="~/Home/Logout"> Logout</a></li>
        </ul>
        <div class="clr"></div>
      </div>

<br />


<h1>You are now Friends with @ViewBag.friend</h1><br />
<h2>You can now see his Posts on you Home Page.</h2>
